@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Nobile:wght@700&display=swap");

:root {
  --primary-color: #161a1d;
  --secondary-color: #eaeaea;
  --primary-text: #f7191e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #000;
  background: #fff;
  line-height: 1.6;
  font-weight: 300;
  text-align: center;
  display: block;
}
.text-primary {
  color: var(--primary-text);
}
.underline {
  border-bottom: 2px solid #f7191e;
}
h1 {
  font-family: "Nobile", sans-serif;
  font-size: 3rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "Quicksand", sans-serif;
}
p {
  font-size: 1.2rem;
}
img {
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
.line {
  border-bottom: 2px solid #f7191e;
  width: 10rem;
  display: block;
  align-self: center;
}
.hidden {
  opacity: 0;
  transform: translateY(10%);
}
.active {
  opacity: 1;
  transform: translateY(0%);
  transition: 1s ease-in-out 0.2s;
}

/* header */
.header {
  height: 90vh;
  width: 100%;
  background: var(--primary-color);
  /* background: url(/img/background.jpg) no-repeat center center/cover; */
}
/* navbar */
.navbar {
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 50px;
  font-size: 1.4rem;
  padding: 0 5rem 0 7rem;
  color: #000;
  background: #fff;
  text-align: left;
  align-items: center;
}

.navbar ul {
  display: flex;
  justify-content: right;
  height: 50px;
}
.navbar a {
  padding: 0px 20px 0px 20px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #000;
}
h2 {
  font-weight: 300;
  font-size: 1.6rem;
  padding: 0px 20px 0px 20px;
}
.navbar li:hover {
  background-color: var(--primary-text);
}
.navbar a:hover {
  color: #fff;
}

.logo {
  font-family: "Gochi Hand", cursive;
  font-size: 2.8rem;
  color: var(--primary-text);
  line-height: 50px;
  padding-top: 0.3rem;
}

/* header content */
.stroke {
  width: 300px;
  height: 20px;
  margin: 0 2rem;
  transform: rotate(185deg);
}
.ourmenu {
  box-shadow: -10px -10px #fff;
  width: 400px;
  margin-left: 3rem;
  margin-bottom: 2.5rem;
}
.space {
  width: 300px;
  margin-top: 5rem;
  margin-bottom: 1rem;
  box-shadow: 10px 10px #fff;
}
.ourmenu:hover,
.space:hover {
  transition: transform 1s;
  transform: scale(1.05);
}

.content {
  margin: 4rem auto 1.5rem auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
  color: #fff;
  align-items: center;
}
.content h1 {
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
button,
.content a,
.btn-red {
  background: transparent;
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid #fff;
  margin-top: 1.5rem;
}
button:hover,
.content a:hover,
.btn-red:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
  border: 1px solid #000;
  transition: 0.3s;
}

.popup {
  width: 60vw;
  height: 60vh;
  position: fixed;
  padding: 2rem;
  z-index: 15;
  left: 38%;
  top: 10%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.popup-content {
  width: 40vw;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}
.popup-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #eaeaea;
}
.popup-content img:hover {
  transition: transform 1s;
  transform: scale(1.1);
}

.close-popup {
  float: right;
  font-size: 3rem;
  color: #c9c9c9;
}
.close-popup:hover {
  cursor: pointer;
  color: #fff;
}
/* gallery */
.gallery {
  background-color: #fff;
  border-radius: 15px;
  border: 8px solid var(--secondary-color);
  padding: 2rem;
  width: 85vw;
  height: 95vh;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, -10%);
}
.btn-red {
  background: #f7191e;
}
.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 68vw;
  margin: auto;
  margin-bottom: 2rem;
}

.icons-card {
  width: 17vw;
  text-align: center;
  border-top: 2px solid var(--primary-text);
  border-bottom: 2px solid var(--primary-text);
  padding-top: 1rem;
}

.icons-card h3 {
  padding: 0.5rem;
}

.gallery-container {
  margin: auto;
  margin-bottom: 3rem;
  width: 100%;
  height: 60vh;
  display: flex;
}
.gallery-photos img:hover {
  transition: transform 1s;
  transform: scale(1.1);
}

.gallery-photos {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: 130px 130px 130px 130px;
  grid-template-rows: 162.5px 162.5px 162.5px;
  align-items: center;
  margin-left: 1rem;
}
.gallery-photos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #fff;
}

.gallery-photos :first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.gallery-photos :last-child {
  grid-column: 3 / span 2;
  grid-row: 2 / span 2;
}

.about-us {
  width: 50%;
  height: 487.5px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.about-us img {
  width: 60%;
  height: 430px;
  margin-left: 1rem;
  border: 2px solid #fff;
}
.us {
  background-color: rgba(22, 26, 29, 0.9);
  color: #fff;
  height: 360px;
  width: 250px;
  margin-left: -60px;
  padding: 1rem;
}
.us p {
  margin-top: 0.8rem;
}

/* assortment */
.assortment {
  text-align: center;
  background: var(--primary-color);
  height: 90vh;
  margin-top: 76vh;
  /* margin-top = gallery height-2*(10%of gallery height) */
  padding-top: 80px;
}
.assortment-title {
  display: flex;
  justify-content: center;
  margin: 3rem auto 2rem auto;
}

.flex-assortment {
  width: 75vw;
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.assortment img {
  width: 180px;
  border-radius: 50%;
  margin-bottom: -50%;
}
.card {
  background: var(--secondary-color);
  width: 15vw;
  height: 40vh;
  padding-top: 7rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
}
.assortment h2 {
  color: #fff;
}

.contact {
  background-color: #fff;
  border-radius: 15px;
  border: 8px solid var(--secondary-color);
  color: #000;
  width: 85vw;
  height: 80vh;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, -10%);
  padding: 2rem;
  margin: auto;
}
.find {
  display: flex;
  justify-content: center;
}

.map {
  margin: 2rem;
  display: flex;
  position: relative;
  transition: left;
}
.here {
  height: 400px;
  width: 300px;
  padding: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  border: 5px solid rgba(22, 26, 29, 0.9);
  background-color: rgba(22, 26, 29, 0.9);
  color: #fff;
}

.here .stroke {
  width: 230px;
  height: 20px;
  margin: 0rem;
  transform: rotate(185deg);
}

.maps-container {
  width: 500px;
  overflow: hidden;
  height: 400px;
  border: 5px solid rgba(22, 26, 29, 0.9);
}
.maps-slider {
  display: flex;
  animation: slide 10s linear 3s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-500px);
  }
  50% {
    transform: translateX(-500px);
  }
  75% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* FOOTER */
footer {
  /* background: url(/img/background2.jpg) no-repeat center center/cover; */
  background: var(--primary-color);
  height: 100%;
  margin-top: 64vh;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 2rem;
}
.footer-content {
  width: 60vw;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  text-align: left;
  align-items: center;
  border-bottom: 2px solid var(--primary-text);
  margin-left: 25rem;
  margin-top: 1rem;
}
footer img {
  width: 5rem;
  height: 7rem;
  margin-left: 2rem;
  margin-right: 1rem;
}
.box {
  border-left: 2px solid var(--primary-text);
  border-right: 2px solid var(--primary-text);
}
.box p,
.footer-content p {
  padding-left: 1rem;
  padding-bottom: 1rem;
}

.order {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}
.order img {
  width: 160px;
  height: 50px;
  object-fit: cover;
  margin-right: 0rem;
}
